<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.questionpro.bullscows.app">

    <application>
        <activity android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".ChooserScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:launchMode= "singleInstance"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity android:name=".GuesserScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:launchMode= "singleInstance"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
    </application>

</manifest>